.articles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1.5rem 0;
  &__container {
    width: 95%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem 1rem;
    gap: 1.5rem;
    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }
  &-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 840px) {
      width: 100%;
    }
    gap: 0.5rem;
    h2 {
      font-weight: 700;
      line-height: 52px;
      font-size: 2.5rem;

      @media screen and (max-width: 478px) {
        line-height: 35px;
        font-size: 2rem;
      }
    }
    p {
      color: $gray;
      font-weight: 400;
    }
  }
  &-body {
    // display: flex;
    // justify-content: flex-start;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    @media screen and (max-width: 660px) {
      display: flex;
      flex-direction: column;
    }
    .card {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 1rem;
      &:hover {
        .card-content {
          transform: translateY(0);
        }
        h3 {
          transform: translateY(-10rem);
        }
      }
      &-content {
        // height: 200px;
        // overflow-y: scroll;
        transform: translateY(100%);
        transition: 0.3s ease;
        width: 100%;
        align-self: flex-end;
        padding: 1rem;
        border: 1px solid $gray;
        border-radius: 1rem;
        background: #fff;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.5rem;
          button {
            position: relative;
            background: #ffdc44;
            border-radius: 8px;
            font-size: 12px;
            padding: 0.25rem 0.5rem 0.25rem 1.25rem;
            border: none;
            font-weight: 400;
            &::before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              top: 50%;
              transform: translateY(-50%);
              left: 7px;
              background: $green;
              border-radius: 50%;
            }
          }
          h5 {
            color: #52525b;
            font-size: 12px;
            font-weight: 400;
          }
        }
        h4 {
          font-weight: 500;
          font-size: 20px;
        }
        p {
          color: #52525b;
        }
      }
      h3 {
        position: absolute;
        z-index: 2;
        color: #fff;
        font-weight: 500;
        top: 1rem;
        left: 1rem;
        transition: 0.3s ease;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
      }
      &:nth-child(1) {
        grid-area: 1 / 1 / 5 / 3;
        height: 440px;
        @media screen and (max-width: 660px) {
          height: 300px;
        }
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 3 / 5;
        height: 216px;
        @media screen and (max-width: 660px) {
          height: 300px;
        }
      }
      &:nth-child(3) {
        grid-area: 3 / 3 / 5 / 5;
        height: 216px;
        @media screen and (max-width: 660px) {
          height: 300px;
        }
      }
      &:nth-child(4) {
        grid-area: 1 / 5 / 5 / 7;
        height: 440px;
        @media screen and (max-width: 660px) {
          height: 300px;
        }
      }
    }
  }
  &-all {
    a {
      width: 100%;
      padding: 0.5rem 1.125rem;
      border: 2px solid $green;
      background: $green;
      font-weight: 500;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: 0.3s ease;
      color: #ffffff;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
