.classement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 3rem 0;
  .xl {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding: 0 1rem;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .classement-title {
        margin-top: 0;
        h2 {
          transform: rotate(0) translate(0);
        }
      }
    }
  }
  &-title {
    margin-top: 3rem;
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 66px;
      color: #000;
      white-space: nowrap;
      transform: rotate(-90deg);
      text-align: center;
    }
  }
  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: $yellow;
    }
      table {
        width: max-content;
        //width: 1000px;
        border-color: rgba($color: $red, $alpha: 0.1);
        td,
        th {
          text-align: center;
          width: 210px;

          font-weight: 400;
          font-size: 24px;
          line-height: 40px;
        }
        th {
          color: $green;
          padding: 1rem 0;
          &:nth-child(2n) {
            background: #fef2f2;
          }
          &:nth-child(2n + 1) {
            background: #f0fdf4;
          }
          &:nth-child(1) {
            background: none;
          }
        }
        td {
          font-style: italic;
          &:nth-child(1) {
            width: auto;
            padding: 0 1.5rem;
          }
          &:nth-child(2n + 1) {
            background: #fef2f2;
          }
          &:nth-child(2n) {
            background: #f0fdf4;
          }
          &:nth-child(2) {
            padding: 1rem 0;
          }
        }
        .current {
          td {
            color: #fff;
            background: $red;
          }
        }
      }
    button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #fff;
      border: 2px solid $green;
      border: none;
      margin-top: 1rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      span {
        display: inline-block;
        color: $red;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
      }
      &:hover {
        transform: translateX(1rem);
      }
    }
  }
}
