.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #f4f4f5;
  background: #ffffff;
  z-index: 3;
  &__container {
    width: 95%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &-logo {
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      a {
        font-weight: 400;
        font-size: 1.125rem;
        transition: 0.3s color ease;
        &:hover {
          color: $green;
        }
      }
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background: #f0fdf4;
        border: 1px solid #dcfce7;
        border-radius: 50%;
      }
    }

    &__auth {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      button {
        padding: 0.5rem 1.125rem;
        border: 2px solid $green;
        background: $green;
        font-weight: 500;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: .3s ease;
        &:first-child {
            color: #ffffff;
            &:hover{
                opacity: 0.8;
            }
          }
        &:last-child {
            background: #fff;
            color: $green;
            border-color: #fff;
            &:hover{
                border-color: $green;
                background: rgba($color: $green, $alpha: .05);
            }
        }
      }
    }
  }
  .menu-open {
    display: none;
  }
  &-menu {
    display: none;
  }
}
