.join {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007a5e;
  padding: 1.5rem 0;
  &__container {
    width: 95%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: 478px) {
      align-items: flex-start;
    }
  }
  &-illustration {
    position: absolute;
  }
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 3.5rem;
    color: #fff;
    z-index: 2;

    @media screen and (max-width: 478px) {
      line-height: 20px;
      font-size: 2rem;
    }
  }
  p {
    text-align: center;
    z-index: 2;
    color: #fff;
    @media screen and (max-width: 478px) {
      text-align: left;
    }
  }
  &-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    @media screen and (max-width: 478px) {
      flex-direction: column;
      width: 100%;
      button,
      input {
        width: 100%;
      }
    }
    button {
      padding: 0.5rem 1.125rem;
      border: 2px solid #4ade80;
      background: #4ade80;
      font-weight: 500;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: 0.3s ease;
      color: $green;
      &:hover {
        opacity: 0.8;
      }
    }
    input {
      overflow: hidden;
      outline: none;
      padding: 0.5rem 1.125rem;
      border: 2px solid #fff;
      font-weight: 500;
      cursor: pointer;
      border-radius: 0.5rem;
      transition: 0.3s ease;
      color: #a1a1aa;
      flex-grow: 1;
      &:focus {
        border-color: #a1a1aa;
      }
      &::placeholder {
        color: #a1a1aa;
      }
    }
  }
}
