.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transform: translateY(-100%);
  transition: .5s cubic-bezier(0.71, -0.16, 0.37, 1.79);
  &-close {
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    img {
      background: $green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 300;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $green;
      }
    }
  }
  &-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    z-index: 2;
    li {
      font-weight: 400;
      font-size: 40px;
      line-height: 44px;
      color: #000;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &.active,
      &:hover {
        color: $red;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(254, 208, 24, 0.1);
    border-radius: 30% 70% 100% 0% / 0% 1% 99% 100%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(254, 208, 24, 0.1);
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  }
  &.menu-open {
    transform: translateY(0);
  }
}
