@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

// Colors
$yellow: #fcd116;
$green: #007a5e;
$black: #000000;
$gray: #52525b;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  color: $black;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid $gray;
  p {
    text-align: center;
    a:hover {
      color: $green;
    }
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
