.socios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-banner {
    width: 100%;
    background: url("../assets/images/13.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    h2 {
      font-weight: 400;
      font-size: clamp(2.5rem, 4vw, 5rem);
      line-height: 66px;
      color: $yellow;
      text-align: center;
      @media screen and (max-width: 460px) {
          line-height: 40px;
      }
    }
    button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      background: #fff;
      border: 3px solid #fff;
      border-bottom-color: $green;
      padding: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      span {
        display: inline-block;
        color: $green;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
      }
      &:hover {
        transform: translateX(1rem);
      }
    }
  }
  &-sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    .sponsor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
    }
    &-title {
        h2 {
          font-weight: 400;
          font-size: 28px;
          line-height: 31px;
          color: $gray;
        }
      }
      &-logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          background: $yellow;
        }
      }
  }
}
